@using Common.Const;
@using Common.Entity;
@model Dictionary<string, object>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet">
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Navbar Start -->
@{
    string? username = Context.Session.GetString("username");
    string? role = Context.Session.GetString("role");
    string? image = Context.Session.GetString("image");
    string d_none1 = role == null || role == UserConst.ROLE_STUDENT ? "d-none" : "";
    string d_none2 = role == null || role == UserConst.ROLE_STUDENT ? "" : "d-none";
    string d_none3 = role != null && role == UserConst.ROLE_TEACHER ? "" : "d-none";
}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-info"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Home" class="nav-item nav-link">Home</a>
            <a href="/About" class="nav-item nav-link">About</a>
            <a href="/ManagerCourse/Create" class="nav-item nav-link @d_none1">Create Course</a>
            @if (role == null || role == UserConst.ROLE_STUDENT)
            {
                <a href="/Courses" class="nav-item nav-link">Courses</a>
            }
        </div>
    </div>

    @if (username == null)
    {
        <a href="/Login" class="btn btn-info py-4 px-lg-5 d-none d-lg-block text-white">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
    }
    else
    {
        <div class="nav-item dropdown">
            <a href="#" class="btn btn-info py-4 px-lg-5 text-white"><img src="@image" alt="Avatar" class="avatar">@username</a>
            <div class="dropdown-menu fade-down m-0">
                <a href="/Profile" class="dropdown-item">Profile</a>
                <a href="/MyCourse" class="dropdown-item @d_none2">My Course</a>
                <a href="/ManagerCourse" class="dropdown-item @d_none3">My Teaching Course</a>
                <a href="/Logout" class="dropdown-item">Log Out <i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
    }
</nav>
<!-- Navbar End -->

@{
    List<Quiz> list = (List<Quiz>) Model["list"];
    Guid CourseID = (Guid) Model["CourseID"];
    Guid LessonID = (Guid) Model["LessonID"];
}
<!-- LIST Start -->
<a href="/ManagerQuiz/Create?LessonID=@LessonID&CourseID=@CourseID" class="btn btn-info btn-md ms-2" style="margin:30px auto">
    <i class="fa fa-user-plus"></i> Create new Question
</a>
<p class="text-success">@ViewData["success"]</p>
<div class="card mb-6 pb-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        LIST QUIZ
    </div>
    <div class="card-body pb-5">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Quiz quiz in list)
                {
                    <tr>
                        <td>@quiz.Question</td>
                        <td>
                            <a href="/ManagerQuiz/Detail/@quiz.QuestionId?LessonID=@LessonID&CourseID=@CourseID">
                                <i class="fa fa-eye fs-5 me-2"></i>
                            </a>
                            <a href="/ManagerQuiz/Update/@quiz.QuestionId?LessonID=@LessonID&CourseID=@CourseID">
                                <i class="fa fa-edit fs-5 me-2"></i>
                            </a>
                            <a href="/ManagerQuiz/Delete/@quiz.QuestionId?LessonID=@LessonID&CourseID=@CourseID" onclick="return confirm('Are you sure you want to delete this item?')">
                                <i class="fa fa-trash fs-5"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- LIST End -->


<a href="/ManagerLesson/Index/@CourseID" class="btn btn-info btn-md ms-2" style="margin:30px auto">Back to Lesson</a>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Quick Link</h4>
                <a class="btn btn-link" href="/About">About Us</a>
                <a class="btn btn-link" href="#">Contact Us</a>
                <a class="btn btn-link" href="/FAQ">FAQs & Help</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>FPT University</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0984 739 845</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>eLearning@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Gallery</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/js/datatables-simple-demo.js"></script>