@using DataAccess.Const;
@using DataAccess.Entity;
@model Dictionary<string, object>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet">
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Navbar Start -->
@{
    string? username = Context.Session.GetString("username");
    string? role = Context.Session.GetString("role");
    string? image = Context.Session.GetString("image");
    string d_none1 = role == null || role == UserConst.ROLE_STUDENT ? "d-none" : "";
    string d_none2 = role == null || role == UserConst.ROLE_STUDENT ? "" : "d-none";
    string d_none3 = role != null && role == UserConst.ROLE_TEACHER ? "" : "d-none";
}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-info"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Home" class="nav-item nav-link">Home</a>
            <a href="/About" class="nav-item nav-link">About</a>
            <a href="/ManagerCourse/Create" class="nav-item nav-link @d_none1">Create Course</a>
            @if (role == null || role == UserConst.ROLE_STUDENT)
            {
                <a href="/Courses" class="nav-item nav-link">Courses</a>
            }
        </div>
    </div>

    @if (username == null)
    {
        <a href="/Login" class="btn btn-info py-4 px-lg-5 d-none d-lg-block text-white">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
    }
    else
    {
        <div class="nav-item dropdown">
            <a href="#" class="btn btn-info py-4 px-lg-5 text-white"><img src="@image" alt="Avatar" class="avatar">@username</a>
            <div class="dropdown-menu fade-down m-0">
                <a href="/Profile" class="dropdown-item">Profile</a>
                <a href="/MyCourse" class="dropdown-item @d_none2">My Course</a>
                <a href="/ManagerCourse" class="dropdown-item @d_none3">My Teaching Course</a>
                <a href="/Logout" class="dropdown-item">Log Out <i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
    }
</nav>
<!-- Navbar End -->
@{
    Quiz quiz = (Quiz)Model["quiz"];
    Guid CourseID = (Guid)Model["CourseID"];
    Guid LessonID = (Guid)Model["LessonID"];
}

<!-- UPDATE Start -->
<div class="container">
    <h1>Update Question</h1>
    <hr>
    <p class="text-danger" id="error">@ViewData["error"]</p>
    <p class="text-success" id="success">@ViewData["success"]</p>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
        </div>
        <!-- edit form column -->
        <div class="col-md-7 personal-info">
            <form class="form-horizontal" role="form" action="/ManagerQuiz/Update/@quiz.QuestionId?LessonID=@LessonID&CourseID=@CourseID" method="POST">
                <input type="hidden" name="LessonId" value="@LessonID" />
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Question:</b></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="Question"  id="question" required>@quiz.Question</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Answer 1:</b></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="Answer1" id="answer1" required>@quiz.Answer1</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Answer 2:</b></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="Answer2" id="answer2" required>@quiz.Answer2</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Answer 3:</b></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="Answer3" id="answer3">@quiz.Answer3</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Answer 4:</b></label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="Answer4" id="answer4">@quiz.Answer4</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Answer Correct:</b></label>
                    <div class="col-lg-8">
                        <input class="form-control" name="AnswerCorrect" id="correct" type="number" min="1" max="4" value="@quiz.AnswerCorrect" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes" onclick="myFunction()">
                        <span></span>
                        <a href="/ManagerQuiz?LessonID=@LessonID&CourseID=@CourseID">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- UPDATE End -->

<script>
    function myFunction() {
        var question = document.getElementById("question");
        var answer1 = document.getElementById("answer1");
        var answer2 = document.getElementById("answer2");
        var answer3 = document.getElementById("answer3");
        var answer4 = document.getElementById("answer4");
        var correct = document.getElementById("correct");
        if (question.value.toString().trim().length === 0) {
            document.getElementById("error").innerHTML = "You have to input question";
            handleSubmit(event);
        } else if (answer1.value.toString().trim().length === 0 || answer2.value.toString().trim().length === 0) {
            document.getElementById("error").innerHTML = "A question contains at least 2 answers. Answer 1 and answer 2 not empty";
            handleSubmit(event);
        } else if (answer3.value.toString().trim().length === 0 && answer4.value.toString().trim().length !== 0) {
            document.getElementById("error").innerHTML = "if question contains 3 answers, answer 3 not empty";
            handleSubmit(event);
        }
    }

    function handleSubmit(event) {
        event.preventDefault();
    }

</script>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Quick Link</h4>
                <a class="btn btn-link" href="/About">About Us</a>
                <a class="btn btn-link" href="#">Contact Us</a>
                <a class="btn btn-link" href="/FAQ">FAQs & Help</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>FPT University</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0984 739 845</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>eLearning@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Gallery</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/js/datatables-simple-demo.js"></script>
